main {
    display: flex;
}

form {
    max-width: 500px;
    margin-left: 10px;
    background-color:cornflowerblue;
    padding: 50px 20px;
}

h1 {
    text-align: center;
}

header {
    margin-bottom: 40px;
}
